/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
    font-family: 'Arial';
    src: url('../fonts/GandhiSans-Regular-webfont.eot');
    src: url('../fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GandhiSans-Regular-webfont.woff') format('woff'),
         url('../fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/GandhiSans-Regular-webfont.svg#Arial') format('svg');
    font-weight: normal;
    font-style: normal;

}
.wrap{
	width:80%;
	margin:0 auto;
}
.content {
	margin-top: 72px;
}
/*---start-header---*/
.header{
	background: #2a323a;
	border-bottom: 5px solid rgba(192, 192, 192, 0.31);
	position: fixed;
	top: 0px;
	z-index: 5;
	opacity: 0.95;
	width:100%;
}
.logo{
	float:left;
}
.logo a{
	font-family: 'Arial';
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 24px;
	display: block;
	padding: 20px;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	font-family: 'Arial';
	color: #FFFFFF;
	padding: 20px;
	display: block;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav li.active> a, .top-nav li> a:hover {
	border-top: 5px solid #4dc9b0;
	color: #4dc9b0;
}
.top-nav li.dropdown> a{
	border-top: 5px solid #4dc9b0;
	color: #4dc9b0;
}
.top-nav li.dropdown> a:hover {
	border-top: 5px solid #4dc9b0 !important;
	color: #4dc9b0 !important;
}
.dropdown-menu {
	background:#2a323a;
	text-align:center;
}
#dropdown-a>a{
	font-family: 'Arial';
	color: #FFFFFF;
	padding: 15px;
	display: block;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;	
	border-top: 0px;
	color: #ffffff;
}
#dropdown-a>a:hover{
	background:#2a323a;
	color: #4dc9b0;
}

/*---End-header---*/
/*---content----*/
.grid1{
	background: #F5F5F5;
	text-align:center;
	padding: 50px 0px;
}
.grid1 h3{
	font-family: 'Arial', "微软雅黑";
	color: black;
	font-size: 2.2em;
}
.grid1 img{
	/* background:#465653; */
	/* padding: 1px; */
	<!--border-radius: 50%;
	-->
}
.grid1 p a,.grid1 p{
	font-family: 'Arial';
	color: black;
	font-size: 1.2em;
	line-height: 1.5em;
}
.grid1 p{
	width: 65%;
	margin:0 auto;
}
.grid1 p a{
	font-size: 1em;
	padding-left: 5px;
	color:#2a323a;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.grid1 p a:hover{
	color:#FFF;
}
/*---grid2----*/
.grid2 h3{
	font-family: 'Arial';
	color: #2A323A;
    text-align: left;
	font-size: 1.2em;
}
.grid2 p{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-bottom: 20px;
}
.grid2{
	text-align:center;
	padding: 0px 0px;
}
.grid2 ul li{
	display:inline-block;
	background:#eee;
	text-align: center;
	width: 200px;
	width: 200px;
	padding: 15px 0px 0px 0px;
	margin: 0px 3px;
}
.grid2 ul li a,.grid2 ul li img{
	display:block;
	text-align: center;
	margin: 0 auto;
}
.grid2 ul li a{
	font-family: 'Arial';
	color: #FFFFFF;
	margin-top: 12px;
	background: #2A323A;
	display: block;
	padding: 8px 12px;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.grid2 ul li a:hover{
	color:#665cbe;
}
.grid2-herf{
    color: #665cbe;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    font-size: 1.1em;
}
.grid2-herf:hover{
	color:#2A323A;
}
.grid2-content{
	width: 65%;
	margin:0 auto;
	margin-top: 0px;
    margin-left: 10px;
}

.graid2-ul{
	font-family: 'Arial', "微软雅黑";
	color: #2A323A;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-left: 20px;
	padding-right: 20px;
	width: 98%;
	list-style: disc;
}
.grid2-content h3{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.5em;
	padding: 10px 0px 15px 0px;
}
strong, b {
    font-weight: bold;
}
i{
    font-style: italic;
}
/*----grid3-----*/
.grid3{
	background:#F5F5F5;
	padding: 50px 0px;
}
.grid3-header{
	text-align: center;
	border-bottom: 1px solid rgba(192, 192, 192, 0.44);
	width: 62%;
	margin: 0 auto;
}
.grid3-header h3{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 2.3em;
	padding-bottom: 1px;
}
.grid3-header p{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.4em;
	line-height: 1.5em;
	padding-bottom: 20px;
}
.grid3-left{
	float: left;
	width: 42%;
}
.grid3-left ul li{
	display:inline-block;
}
.grid3-left ul li a{
	padding: 9px;
}
.grid3-left h3{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.9em;
	padding: 0px 0px 5px 0px;
}
.grid3-left p{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	padding-bottom: 20px;
	width: 98%;
}
.grid3-right{
	float: right;
	width: 57%;	
	background: #fff;
	padding: 4px;
	box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.14);
}
.grid3-content{
	width: 67%;
	margin:0 auto;
	margin-top: 20px;
}

.graid3-ul{
	font-family: 'Arial', "微软雅黑";
	color: #2A323A;
	font-size: 1.1em;
	line-height: 1.5em;
	padding-left: 20px;
	padding-right: 20px;
	width: 98%;
	list-style: decimal;
}
.grid3-content h3{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.5em;
	padding: 10px 0px 15px 0px;
    list-style: circle;
}

.grid3-content h4{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1.3em;
	padding: 10px 0px 15px 0px;
}

strong, b {
    font-weight: bold;
}
i{
    font-style: italic;
}
.graid3-li{
    padding: 0px 5px 10px 5px;
}
.graid3-ul a{
    color: #665cbe;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.graid3-ul a:hover{
	color:#2A323A;
}

.button{
	font-family: 'Arial';
	color: #FFFFFF;
	margin-top: 12px;
	background: #4dc9b0;
	display: inline-block;
	padding: 15px 32px;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background: #2A323A;
}
.grid3-left ul{
	margin: 0px 0px 9px 0px;
}
/*----twiiter-box----*/
.twiiter-box{
	padding: 50px 0px;
	text-align:center;
}
.twiiter-box p{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	padding-bottom: 20px;
	font-size: 1.2em;
}
.twiiter-box p a{
	color:#665cbe;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size: 1.1em;
}
.twiiter-box p a:hover{
	color:#2A323A;
}
/*---contact----*/
.contact{
	background: #4dc9b0;
	text-align: center;
	padding: 50px 0px;
}
.contact h3{
	font-family: 'Arial';
	color: #FFF;
	font-size: 2.2em;
	padding-bottom: 4px;
}
.contact input[type="text"]{
	width: 40%;
	display: inline-block;
	padding: 10px;
	margin: 20px 9px;
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1em;
	outline: none;
}
.contact textarea{
	width: 83%;
	margin: 0 auto;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	height: 120px;
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1em;
	outline: none;
}
.contact a{
	font-size: 1.2em;
	color:#2a323a;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact a:hover{
	color:#FFF;
}
.contact p{
	font-family: 'Arial';
	color: #FFF;
	font-size: 1.2em;
	line-height: 1.8em;
	margin-bottom: 3px;
}
.contact input[type="submit"]{
	font-family: 'Arial';
	color: #FFFFFF;
	margin-top: 12px;
	background: #2A323A;
	display: block;
	padding: 12px 0px;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	width: 84.3%;
	margin: 0 auto;
	outline: none;
}
.contact input[type="submit"]:hover{
	background: #fff;
	color:#2A323A;
	cursor:pointer;
}

.catch-me{
	text-align:center;
	padding: 50px 0px;
}
.catch-me ul li{
	display:inline-block;
}
.catch-me h3{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 2.2em;
	padding-bottom: 12px;
	text-transform: uppercase;
}
.catch-me p{
	font-family: 'Arial';
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	width: 51%;
	margin: 0 auto;
	padding-bottom: 22px;
}
.catch-me ul li a{
	display: block;
	margin: 0px 5px;
}
.catch-me ul li a img{
	border-radius: 50%;
}
/*----footer----*/
.footer{
	text-align:center;
	padding:10px;
	background: #2A323A;
}
.footer p{
	font-family: 'Arial';
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
}
.footer p a{
	color:#665cbe;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.footer p a:hover{
	color:#fff;
}
/*----responsive design----*/
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:90%;
	}
	.grid3-content {
		width: 76%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}		
	.grid3-content {
		width: 76%;
	}
	.contact input[type="text"] {
		width: 39.5%;
	}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap{
		width:90%;
	}	
	.grid3-content {
		width: 83%;
	}
	.grid3-header {
		width: 81%;
	}
	.contact input[type="text"] {
		width: 39%;
	}
	.contact input[type="submit"] {
		width:85%;
	}
	.catch-me p {
		width:70%;
	}
	.grid2 ul li {
		width: 174px;
	}
	.grid1 p {
		width: 77%;
	}
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap{
		width:90%;
	}	
	.grid3-content {
		width: 83%;
	}
	.grid3-header {
		width: 81%;
	}
	.contact input[type="text"] {
		width: 38%;
	}
	.contact input[type="submit"] {
		width: 86%;
	}
	.catch-me p {
		width:70%;
	}	
	.grid2 ul li {
		width: 160px;
	}
	.grid1 p {
		width: 77%;
	}
	.grid2 ul li a {
		padding: 8px 23px;
	}
	.grid3-right {
		width: 55%;
	}
	.catch-me ul li a {
		display: block;
		margin: 0px 10px;
	}
	.grid1 p a, .grid1 p,.grid2 p,.grid3 p{
		font-size:1.2em;
	}
	.grid3-header h3 {
		font-size: 2em;
	}
}


/* Gallery Section 
==============================*/
#works {
	padding: 10px 0;
	background: #4dc9b0; /* Old browsers */ 
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
#works li.pull-right {
	margin-top: 10px;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li:after {
	content: ' | ';
	margin-left: 20px;
}
ol.type li:last-child:after {
	content: '';
}
ol.type li a {
	color: #444;
	padding: 2px 8px;
}
ol.type li a.active {
	background: #F4D03F;
	padding: 2px 8px;
	border-radius: 4px;
}
ol.type li a:hover {
	background: #F4D03F;
	padding: 2px 8px;
	border-radius: 4px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin:5px -10px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
/*这里改变大小和边距*/
.portfolio-item:hover {
	margin: 5px -10px;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.portfolio-item .hover-bg {
	height: 210px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	font-family: 'Arial', "微软雅黑";
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(52, 60, 68, 0.75);
	padding: 30% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-text h4
{
	font-size:24px;
	margin-bottom:10px;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#works i.fa {
	font-size: 20px;
	padding: 5px;
	color: #F4D03F;
}

.portfolio-botom{
	background:#2a323a;
	padding: 3px 0;
	color:#ffffff;
}

.portfolio-botom a{
	font-family: 'Arial', "微软雅黑";	
	color:#FFF;
	font-size: 18px;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	text-transform: uppercase;
}

.portfolio-botom a:hover{
	color: #665cbe;
}

.welcome-photo{
	width:200px;
	height:200px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.welcome-photo1{
	position:absolute;
	left:0px; 
	top:0px; 
	width:200px; 
	height:200px
}
